name: tarot
description: Tarot reading app
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 1.0.0+1
environment:
  sdk: ">=2.7.0 <3.0.0"
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.1
  google_fonts: ^2.2.0
  flip_card: ^0.6.0
  bordered_text: ^2.0.0
  basic_utils: ^3.9.4
  motion_toast: ^2.1.0
dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
flutter:
  uses-material-design: true
  assets:
    - assets/images/