name: tarot.mjcastner.dev build / deployment workflow
on:
  push:
    branches:
      - main
jobs:
  flutter_web_client:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - id: 'auth'
        uses: 'google-github-actions/auth@v0'
        with:
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_ID }}
          service_account: ${{ secrets.GCP_SA_ID }}
      - name: Set up GCloud SDK
        uses: google-github-actions/setup-gcloud@v0
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
      - run: gcloud auth configure-docker --quiet
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Build Flutter web app
        run: flutter build web --pwa-strategy=none
      - name: Build Docker image
        run: docker build -t gcr.io/${{ secrets.GCP_PROJECT_ID }}/tarot:latest .
      - name: Push Docker image to GCR
        run: docker push gcr.io/${{ secrets.GCP_PROJECT_ID }}/tarot:latest
      - name: 'Deploy to Cloud Run'
        uses: 'google-github-actions/deploy-cloudrun@v0'
        with:
          image: 'gcr.io/${{ secrets.GCP_PROJECT_ID }}/tarot:latest'
          service: 'tarot'
          region: '${{ secrets.GCP_REGION }}'